<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
					http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
	<display-name>datagathering service</display-name>

<!-- 	<context-param> -->
<!-- 		<param-name>contextConfigLocation</param-name> -->
<!-- 		<param-value> -->
<!-- 			classpath:spring/spring-config.xml -->
<!-- 		</param-value> -->
<!-- 	</context-param> -->

<!-- 	<listener> -->
<!-- 		<listener-class>bobkubista.example.utils.property.WebAppListener</listener-class> -->
<!-- 	</listener> -->

	<servlet>
		<servlet-name>datagathering-service</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>bobkubista.examples.services.rest.datagathering</param-value>
        </init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>datagathering-service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>